
.EXPORT_ALL_VARIABLES:

#ARCH          = i386
ARCH          = arm

CROSS_COMPILE = arm-elf-

CC        = $(CROSS_COMPILE)gcc 
AS        = $(CROSS_COMPILE)as
CXX       = $(CROSS_COMPILE)g++ 
AR        = $(CROSS_COMPILE)ar
LD        = $(CROSS_COMPILE)ld
OBJCOPY   = $(CROSS_COMPILE)objcopy
RANLIB    = $(CROSS_COMPILE)ranlib

STRIPTOOL = $(CROSS_COMPILE)strip
STRIP     = $(STRIPTOOL)

#CFLAGS  = -Wall -Wstrict-prototypes -O0 -DARCH_X86
CFLAGS  = -Wall -Wstrict-prototypes -O0 -DARCH_ARM
LDFLAGS  = -elf2flt

